{% extends 'layout.html' %}

{% block body %}
	<center><h1>About Us</h1></center><br>
	<p class=lead>DC BANK has been recognized amongst the Top and Fastest Growing Banks in various Indian Banking League Tables by prestigious media houses and Global Advisory Firms, 
    and has received several national and international honours for our various Businesses including Corporate Investment Banking, Treasury, Transaction Banking, and Sustainable 
	practices through Responsible Banking. DC BANK is steadily evolving as the Professionals Bank of India with the long term mission of Finest Quality Large Bank in India by 2020.</p>
{% endblock %}