{% extends 'layout.html' %}
{% block body %}

<center><h1>All Transactions</h1></center>
<br>

  <table class="table table-striped">
    <tr>
      <th>Transaction ID</th>
      <th>Customer ID</th>
      <th>Account No.</th>
      <th>Date of Transaction</th>
      <th>Description</th>
      <th>Amount</th>
	  <th>Total Balance</th>
    </tr>
	
    {% for i in row%}

	  <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[5]}}</td>
		<td>{{i[6]}}</td>
      </tr>
    {% endfor %}
  </table>
  
{% endblock %}