
<!DOCTYPE html>
<html lang="en">
<head>
<title>DC Bank</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<center><h4>Thank You for choosing our Service...</h4></center>
<br>
<br>
<div class="form-group">        
    <center><a href="/" class="btn btn-info" role="button">Home</a></center>
</div>
</body>
</html>