{% extends 'layout.html' %}
{% block body %}
<center><h2>SUB MENU</h2></center>
<h4>Welcome</h4>

<br>
  <a class="btn btn-primary btn-lg btn-block" href="/closed_account">Show closed account history </a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/transactions">Show all transactions</a><br>
  <a class="btn btn-info btn-lg btn-block" href="/fd">View List of FD's</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/customers">View List of Customers</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/logout2">Logout</a><br>
  <hr>

{% endblock %}