{% extends 'layout.html' %}

{% block body %}
<center><h2>SUB MENU</h2></center>
<h4>Welcome {{session.name}}</h4>
<h5>Your balance={{ openingbalance }}</h5>
<br>
  <a class="btn btn-primary btn-lg btn-block" href="/view_details">View and Edit Details </a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/deposit_money">Money Deposit</a><br>
  <a class="btn btn-info btn-lg btn-block" href="/withdrawal_money">Money Withdrawal</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/print_statement">Print Statement</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/transfer_money">Transfer Money</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/fixed_deposit">Fixed Deposit</a><br>
  <a class="btn btn-warning btn-lg btn-block" href="/account_close">Account Closure</a><br>
  <a class="btn btn-primary btn-lg btn-block" href="/logout">Logout</a><br>
  <hr>

{% endblock %}