{% extends 'layout.html' %}
{% block body %}
 <center><h1>Transfer Money</h1></center>
  {% from "includes/_formhelpers.html" import render_field %}

<form action="" method="POST" onsubmit="return confirm('Confirm Transaction?');" >
	
	<div class="form-group">
      {{ render_field(form.acc2, class_="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.amount, class_="form-control") }}
    </div>
	
	<div class="form-group">
      {{ render_field(form.passwrd, class_="form-control") }}
    </div>
	
    <p><input class="btn btn-primary" type="submit" value="Submit">
</form>  
  
{% endblock %}